.about-section-two {
    .section-top-two {
        .text {
            max-width: 500px;
        }

        .title {
            @include media-breakpoint-down(xxl) {
                font-size: 70px;
                line-height: 60px;
            }

            @include media-breakpoint-only(xs) {
                font-size: 44px;
                line-height: 35px;
            }
        }
    }

    .thumb-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 27px;
        margin-right: -232px;
        position: relative;
        z-index: 9;

        @include media-breakpoint-down(lg) {
            margin-right: 0;
        }

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            row-gap: 20px;
        }

        .thumb {
            position: relative;
            overflow: hidden;
            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            img {
                transition: all 0.6s ease-in-out 0s;
                @include media-breakpoint-down(sm) {
                    width: 100%;
                }

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.6s ease-in-out 0s;
                }
            }

            .title {
                position: absolute;
                bottom: 8px;
                right: 9px;
                left: 9px;
                font-family: var(--text-font);
                font-weight: var(--body-font-weight);
                color: var(--text-color);
                text-transform: uppercase;
                background: rgba(255, 255, 255, 0.80);
                text-align: center;
            }
        }
    }

    .video-thumb {
        position: relative;

        .video-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }
    }
}