.banner-section {
    overflow: hidden;
    padding: 206px 0 100px;
    position: relative;
    z-index: 6;
    .shape1 {
        left: 0;
        position: absolute;
        top: -5rem;
        z-index: -1;
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
    .shape2 {
        bottom: 30px;
        position: absolute;
        right: 40px;
        z-index: -1;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    .bg-thumb {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
    &::before {
        position: absolute;
        content: "";
        background: var(--theme-color-gray2);
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .banner-contents {
        text-align: center;
        .title {
            color: var(--theme-color-black);
            text-align: center;
            font-family: var(--title-font-2);
            font-size: 170px;
            line-height: 0.88;
            @include media-breakpoint-down(xl){
                font-size: 120px;
            }
            @include media-breakpoint-down(md) {
                font-size: 80px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 70px;
            }
        }
        .text {
            color: var(--text-color);
            font-family: var(--text-font);
            max-width: 179px;
            margin: 0 auto;
            text-align: center;
        }
        .date {
            color: var(--text-color);
            font-size: 45px;
            line-height: normal;
            margin-bottom: 56px;
            margin-top: 10px;
            text-align: center;
            text-transform: uppercase;

            @include media-breakpoint-down(md) {
                font-size: 30px;
                line-height: 1.3;
            }
        }
    }
    .banner-image {
        position: relative;
        .main-thumb {
            position: relative;
            border-radius: 50%;
        }
        .main-thumb-shape1 {
            position: absolute;
            bottom: -9rem;
            left: -8rem;
            z-index: 1;
        }
        .main-thumb-shape2 {
            position: absolute;
            top: -4rem;
            right: -8rem;
            z-index: 1;
            @include media-breakpoint-down(sm){
                display: none;
            }
        }
        &:before {
            content: "";
            bottom: 0;
            border: 1px solid var(--theme-color-black);
            border-radius: 50%;
            left: 20px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
        }
    }
    &.style-3 {
        position: relative;
        padding: 267px 0 0 0;
        overflow: hidden;
        @include media-breakpoint-down(lg) {
            padding: 180px 0 0 0;
        }
        .bg-shape-1 {
            position: absolute;
            left: 0;
            top: 40px;
            z-index: -1;
            pointer-events: none;
            @include media-breakpoint-down(md){
                display: none;
            }

        }
        .bg-shape-2 {
            position: absolute;
            right: 0;
            top: 0;
            z-index: -1;
            pointer-events: none;
            @include media-breakpoint-down(md){
                display: none;
            }
        }
        .banner-content {
            margin-bottom: 53px;
            position: relative;
            z-index: 999;
            .sub-title {
                color: var(--theme-color1);
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 3.6px;
                text-transform: uppercase;
                margin-bottom: 22px;
            }
            .title {
                color: var(--theme-color-black);
                text-align: center;
                font-family: var(--title-font-2);
                font-size: 150px;
                font-style: normal;
                font-weight: 400;
                line-height: 110px;
                margin: 0 auto 37px;
                max-width: 90%;
                &.splt-txt {
                    .word {
                        display: inline-block;
                        margin-left: 30px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                    &.animated .char:first-child {
                        text-transform: inherit;
                    }
                }
                @include media-breakpoint-only(md) {
                    font-size: 100px;
                    line-height: 92px;
                }
                @include media-breakpoint-only(sm) {
                    font-size: 72px;
                    line-height: 68px;
                }
                @include media-breakpoint-only(xs) {
                    font-size: 53px;
                    line-height: 44px;
                }
            }
            .text {
                color: var(--text-color2);
                text-align: center;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 36px;
            }
        }
        .banner-slider-wrap {
            margin-top: 15px;
            position: relative;
            z-index: 0;
            overflow: hidden;
            .slider-shape-1 {
                width: 100%;
                position: absolute;
                left: 0;
                top: -145px;
                z-index: 99;
                pointer-events: none;
                width: 100%;
                @include media-breakpoint-only(xl) {
                    top: -100px;
                }
                @include media-breakpoint-only(lg) {
                    top: -80px;
                }
                @include media-breakpoint-only(md) {
                    top: -55px;
                }
                @include for-sm {
                    top: -30px;
                }
                @include for-xs {
                    top: -20px;
                }
            }

            .slider-shape-2 {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: -150px;
                z-index: 99;
                pointer-events: none;
                width: 100%;
                @include media-breakpoint-only(xxl) {
                    bottom: -110px;
                }
                @include media-breakpoint-only(xl) {
                    bottom: -100px;
                }
                @include media-breakpoint-only(lg) {
                    bottom: -90px;
                }
                @include media-breakpoint-only(md) {
                    bottom: -55px;
                }
                @include for-sm {
                    bottom: -45px;
                }
                @include for-xs {
                    bottom: -20px;
                }
            }
            .banner-titming {
                -webkit-transition-timing-function: linear;
                transition-timing-function: linear;
            }
        }
    }
}
