.clint-logo-section-two {
    @include for-lg {
        padding-bottom: 70px;
    }

    @include for-md {
        padding-bottom: 50px;
    }

    .clint-logo-wrapper {
        .logo-card {
            border: 1px solid var(--border-color-5);
            background: var(--theme-color-white);
            height: 100%;

            .main-logo {
                padding: 36px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
            }
        }
    }
}