.collection-section-three {
  .collection-wrapper {
    position: relative;
    padding: 118px 0 124px;

    @include for-lg {
      padding: 80px 0;
    }

    .bg-shape-1 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      @media (max-width: 1599.98px) {
        display: none;
      }
    }

    .bg-shape-2 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      @media (max-width: 1599.98px) {
        display: none;
      }
    }
  }

  .nav-link{
    &.active{
      background: transparent;
    }
  }

  .section-top-three {
    margin-bottom: 43px;
  }

  .collection-list {
    margin-bottom: 100px;

    @include media-breakpoint-only(lg) {
      gap: 20px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-only(xs) {
      margin-bottom: 40px;
    }

    .collection-content {
      display: flex;
      align-items: start;
      gap: 26px;

      .number-list {
        color: var(--theme-color-gray5);
        font-family: var(--text-font);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
      }

      .list-title {
        color: var(--theme-color-black);
        font-family: var(--text-font);
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 13px;

        @include media-breakpoint-down(lg){
          font-size: 30px;
        }
      }
      .list-text{
        color: var(--text-color);
        display: block;
        font-family: var(--text-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }

      .item-text {
        color: var(--text-color);
        font-family: var(--text-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 0;
      }
    }

    &.style-two {
      .nav-link {
        padding: 0;
        margin-bottom: 19px;
        &.active {
          .collection-content {
            border-color: var(--theme-color1);
            &:after {
              opacity: 1;
            }
          }
        }
        .collection-content {
          border: 6px solid #F0F0F0;
          border-radius: 10px;
          padding: 15px 30px 16px 26px;
          gap: 31px;
          position: relative;
          z-index: 0;
          @include media-breakpoint-down(sm){
            flex-direction: column;
            gap: 5px;
          }
          &:after {
            background-image: url(../images/resource/tab-flower.png);
            content: "";
            position: absolute;
            top: 50%;
            right: -28px;
            height: 90px;
            width: 59px;
            opacity: 0.3;
            z-index: -1;
            transform: translateY(-50%);
            @include transition(all 300ms ease);
          }
          .number-list {
            margin-top: 5px;
          }
          .list-title {
            display: block;
            font-size: 24px;
            line-height: 1.333;
            margin-bottom: 7px;
          }
          .list-text {
            display: block;
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .tab-content {
    &.style-two {
      .tab-pane {
        &.active {
          .thumb-wrap {
            .thumb-1 {
              img {
                transform: rotate(4.59deg);
                @media (max-width: 575.98px){
                  transform: rotate(0deg);
                }
              }
            }
            .thumb-2 {
              -webkit-transform: rotate(-14.19deg);
              transform: rotate(-14.19deg);
              @media (max-width: 575.98px){
                display: none;
              }
            }
          }
        }
      }
      .thumb-wrap {
        margin-top: 20px;
        .thumb-1 {
          img {
            transform: rotate(0deg);
            @include transition(all 300ms ease);
          }
        }
        .thumb-2 {
          border: 10px solid #fff;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          left: 95px;
          top: 70px;
          @include transition(all 300ms ease);
        }
        .thumb-3 {
          position: absolute;
          top: -35px;
          left: 60px;
          @include media-breakpoint-down(xxl){
            left: 0;
          }
        }
      }
    }
  }

  .thumb-wrap {
    position: relative;

    .thumb-1 {
      text-align: end;
    }

    .thumb-2 {
      position: absolute;
      top: 24px;
      left: 0;
    }

    .thumb-3 {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
