.counter-section-three {

    @include for-xl {
        margin-top: 50px;
    }

    .counter-items {
        display: flex;
        align-items: center;
        justify-content: center;

        @include for-md {
            flex-wrap: wrap;
        }

        @include for-xxs {
            flex-wrap: nowrap;
            flex-direction: column;
        }

        .item-content {
            border-top: 1px solid var(--border-color-2);
            border-bottom: 1px solid var(--border-color-2);
            width: 25%;
            padding: 51px 0 42px 0;
            text-align: center;

            @include for-md {
                width: 50%;
            }

            @include for-xxs {
                width: 100%;
            }

            // @include for-xxs {
            //     padding: 25px 5px 25px 0;
            // }

            &:nth-last-of-type(2) {
                border-right: 1px solid var(--border-color-2);

                @include for-xxs {
                    border-bottom: 1px solid var(--border-color-2);
                    border-right: none;
                }
            }

            &:nth-last-of-type(3) {
                border-right: 1px solid var(--border-color-2);

                @include for-md {
                    border-right: none;
                }

                @include for-xxs {
                    border-bottom: 1px solid var(--border-color-2);
                    border-right: none;
                }
            }

            &:nth-last-of-type(4) {
                border-right: 1px solid var(--border-color-2);

                @include for-xxs {
                    border-bottom: 1px solid var(--border-color-2);
                    border-right: none;
                }
            }

            .counter-text {
                color: var(--theme-color1);
                text-align: center;
                font-family: var(--title-font-2);
                font-size: 100px;
                font-weight: 400;
                line-height: 80px;

                @include for-xs {
                    font-size: 76px;
                    line-height: 40px;
                }

                // @include for-xxs {
                //     font-size: 46px;
                //     line-height: 17px;
                // }
            }

            .counter-title {
                color: var(--theme-color-black);
                font-family: var(--text-font);
                font-size: 20px;
                font-weight: 400;
                line-height: 36px;
                margin-bottom: 0;
                margin-top: 34px;

                // @include for-xxs {
                //     font-size: 15px;
                //     line-height: 23px;
                // }
            }
        }
    }
}
