.gallery-section-two {
    .gallery-wrapper {
        position: relative;

        .shape-1 {
            position: absolute;
            left: 40px;
            bottom: 350px;
            z-index: -1;
        }

        .shape-2 {
            position: absolute;
            right: 68px;
            top: 550px;
            z-index: -1;
        }

        .shape-3 {
            position: absolute;
            right: 68px;
            bottom: 390px;
            z-index: -1;
        }

        .thumb-wrap {
            display: flex;
            align-items: center;
            gap: 32px;
        }

        .thumb {
            margin-bottom: 32px;
            overflow: hidden;

            img {
                transition: all 0.6s ease-in-out 0s;

                &:hover {
                    transform: scale(1.1) rotate(3deg);
                    transition: all 0.6s ease-in-out 0s;
                }
            }
        }

        .more-btn {
            color: var(--theme-color-black);
            text-align: center;
            font-family: var(--text-font);
            font-size: var(--h3-font-size);
            font-style: normal;
            line-height: var(--line-height-heading-h3);
            text-align: center;
            display: block;
            margin-top: 65px;

            &:hover {
                color: var(--theme-color1);
            }
        }
    }
}