.gallery-section-three {
    .gallery-wrapper {
        padding: 120px 0 73px 0;
        position: relative;
        @include media-breakpoint-down(lg){
            padding: 80px 0;
        }
        .shape1 {
            position: absolute;
            left: 0;
            bottom: 113px;
            z-index: -1;
            @include media-breakpoint-down(xl){
                display: none;
            }
        }
        .section-top-three {
            padding-bottom: 55px;
            @include media-breakpoint-down(xl){
                padding-bottom: 0;
            }
            .heading-top-icon {
                margin-bottom: 23px;
                display: inline-block;
            }
        }
        .main-thumb {
            text-align: center;
            max-width: 582px;
            height: 790px;
            overflow: hidden;
            margin: auto;
            img {
                margin-top: -100px;
            }
            @include for-lg {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
            }
        }
        .thumb {
            overflow: hidden;
            img {
                transition: all 0.6s ease-in-out 0s;

                &:hover {
                    transform: scale(1.1);
                    transition: all 0.6s ease-in-out 0s;
                }
            }

            @include for-sm {
                display: none;
            }
        }

        .thumb-1,
        .thumb-2 {
            text-align: start;
            margin-bottom: 41px;
        }

        .thumb-2 {
            text-align: end;
            margin-bottom: 41px;
        }

        .thumb-4,
        .thumb-6 {
            text-align: end;
            margin-bottom: 41px;
        }

        .thumb-5 {
            text-align: start;
            margin-bottom: 41px;
        }
    }
}
