.guest-section-two {
    .guest-wrapper {
        .guest-content {
            margin-bottom: 45px;

            &:last-child {
                margin-bottom: 0;
            }

            .thumb {
                margin-bottom: 18px;
                position: relative;
                border-radius: 100%;
                overflow: hidden;

                img {
                    transition: all 0.6s ease-in-out 0s;
                    border-radius: 100%;
                    width: 100%;
                    max-width: 100%;

                    &:hover {
                        transform: scale(1.1) rotate(3deg);
                        transition: all 0.6s ease-in-out 0s;
                    }
                }

                .border-shape {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    border: 2px solid var(--theme-color-white);
                    background: transparent;
                    border: 1px solid var(--theme-color-white);
                    border-radius: 100%;
                    pointer-events: none;
                }
            }

            .sub-title {
                color: var(--theme-color1);
                text-align: center;
                margin-bottom: 0;
            }

            .title {
                color: var(--theme-color-black);
                text-align: center;
                font-family: var(--text-font);
                margin-bottom: 0;
            }
        }

        .main-guest-content {
            display: flex;
            align-items: center;
            justify-content: end;
            flex-direction: column;
            height: 100%;

            @include media-breakpoint-down(lg) {
                justify-content: center;
            }

            .guest-content-wrap {
                border-radius: 100%;
                background: var(--theme-color-gray);
                width: 100%;
                padding: 58px;
            }

            .main-thumb {
                position: relative;
                text-align: center;
                max-width: 482px;
                max-height: 482px;
                margin: -157px auto 42px auto;
                border-radius: 100%;
                overflow: hidden;

                img {
                    transition: all 0.6s ease-in-out 0s;
                    border-radius: 100%;
                    text-align: center;

                    &:hover {
                        transform: scale(1.1) rotate(3deg);
                        transition: all 0.6s ease-in-out 0s;
                    }
                }

                @include media-breakpoint-down(lg) {
                    max-width: 382px;
                    max-height: 382px;
                    margin: 0 auto 20px auto;
                }

                .border-shape {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    border: 2px solid var(--theme-color-white);
                    background: transparent;
                    border: 1px solid var(--theme-color-white);
                    border-radius: 100%;
                    pointer-events: none;
                }
            }

            .sub-title {
                color: var(--theme-color1);
                text-align: center;
                margin-bottom: 0;
            }

            .title {
                color: var(--theme-color-black);
                text-align: center;
                font-family: var(--text-font);
                margin-bottom: 10px;
            }

            .text {
                text-align: center;
                max-width: 407px;
                margin: 0 auto 40px auto;

                @include media-breakpoint-down(lg) {
                    display: none;
                }
            }

            .social-icon {
                @include media-breakpoint-down(lg) {
                    display: none;
                }

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;

                    li {
                        a {
                            width: 45px;
                            height: 45px;
                            background: var(--theme-color-white);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                            transition: all 150ms ease-in-out;

                            &:hover {
                                background: var(--theme-color1);
                            }
                        }
                    }
                }
            }
        }
    }
}