.pricing-section-two {
    .pricing-wrapper {
        .container {
            position: relative;
        }

        .section-top-two {
            font-size: 95px;
            line-height: 85px;

            .title {
                @include media-breakpoint-down(xxl) {
                    font-size: 95px;
                    line-height: 85px;
                }

                @include media-breakpoint-only(md) {
                    font-size: 75px;
                    line-height: 50px;
                }

                @include media-breakpoint-only(sm) {
                    font-size: 50px;
                    line-height: 40px;
                }

                @include media-breakpoint-only(xs) {
                    font-size: 43px;
                    line-height: 40px;
                }
            }
        }

        .price-content {
            border: 1px solid var(--theme-color-gray5);
            background: var(--theme-color-white);
            display: inline-block;
            padding: 12px 10px;
        }

        .thumb {
            margin-bottom: 17px;
            position: relative;
            overflow: hidden;

            img {
                transition: all 0.6s ease-in-out 0s;
                text-align: center;

                &:hover {
                    transform: scale(1.1) rotate(3deg);
                    transition: all 0.6s ease-in-out 0s;
                }
            }

            .add-card-icon {
                position: absolute;
                right: 22px;
                bottom: 11px;
                width: 54px;
                height: 54px;
                background: var(--theme-color-white);
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 150ms ease-in-out;
                cursor: pointer;

                .icon {
                    transition: all 150ms ease-in-out;
                }

                &:hover {
                    background: var(--theme-color1);

                    svg path {
                        fill: var(--theme-color-white);
                    }
                }
            }
        }

        .price-bottom-part {
            padding: 0 26px;

            .icon {
                margin-bottom: 5px;
            }

            .title {
                color: var(--theme-color-black);
                font-family: var(--text-font);
                font-weight: var(--body-font-weight);
                margin-bottom: 11px;
            }

            .price {
                color: var(--theme-color1);
                font-family: var(--text-font);
                text-transform: uppercase;
                font-weight: var(--body-font-weight);
                display: flex;
                align-items: end;
                gap: 15px;
                margin-bottom: 10px;

                span {
                    color: var(--text-color);
                    font-family: var(--text-font);
                    font-size: var(--h5-font-size);
                    font-style: normal;
                    font-weight: var(--body-font-weight);
                    line-height: var(--line-height-heading-h5);
                    text-decoration-line: line-through;
                    text-transform: uppercase;
                }
            }
        }

        .price-slider-two-navigation {
            position: absolute;
            bottom: 216px;
            left: 20px;
            display: flex;
            align-items: center;
            gap: 22px;

            @include media-breakpoint-down(xl) {
                bottom: -50px;
                left: 50%;
                transform: translateX(-50%);
            }

            .price-slider-two-next,
            .price-slider-two-prev {
                svg path {
                    fill: var(--theme-color-gray8);
                    transition: all 150ms ease-in-out;
                }

                &:hover {
                    svg path {
                        fill: var(--theme-color-black);
                    }
                }
            }
        }
    }
}