.story-section {
  background-color: var(--theme-color-gray9);
  position: relative;
  .story-collections {
    padding: 0 90px;
    position: relative;
    @include media-breakpoint-down(xxl) {
      padding: 0;
    }
    &::before {
      background: var(--theme-color1);
      content: "";
      left: 50%;
      height: 1374px;
      position: absolute;
      top: 11%;
      width: 2px;
      z-index: 0;
      @include media-breakpoint-down(xxl) {
        display: none;
      }
    }
    &::after {
      background: var(--theme-color-white);
      border-radius: 50%;
      border: 9px solid var(--theme-color1);
      bottom: -2%;
      content: "";
      height: 29px;
      left: 49%;
      position: absolute;
      width: 29px;
      z-index: -1;
      @include media-breakpoint-down(xxl) {
        display: none;
      }
    }
    .story-item {
      margin-bottom: 30px;
      .thumb-two {
        @include media-breakpoint-down(md){
          margin-bottom: 30px;
        }
        img {
          @include media-breakpoint-down(xl) {
            width: 100%;
          }
        }
      }
    }
    .thumb {
      display: flex;
      align-items: center;
      overflow: hidden;
      width: 100%;
      height: 100%;
      @include media-breakpoint-down(xl){
        margin-bottom: 20px;
      }
      @include media-breakpoint-down(lg) {
        gap: 15px;
      }
      @include media-breakpoint-down(md){
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &-two {
        display: flex;
        align-items: center;
        overflow: hidden;
        @include media-breakpoint-down(lg) {
          gap: 15px;
        }
        .date-two {
          margin-right: -20px;
          position: relative;
          z-index: 5;
          @include media-breakpoint-down(md) {
            position: absolute;
          }
          .item {
            align-items: center;
            background: var(--theme-color1);
            border: 18px solid var(--theme-color-white);
            border-radius: 50%;
            color: var(--theme-color-white);
            font-family: var(--text-font);
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            height: 188px;
            justify-items: center;
            line-height: 1.4;
            display: flex;
            position: relative;
            text-transform: uppercase;
            text-align: center;
            width: 188px;
            @include media-breakpoint-down(md) {
              border: 10px solid var(--theme-color-white);
              font-size: 21px;
              height: 140px;
              width: 140px;
            }
            @include media-breakpoint-down(sm) {
              height: 120px;
              width: 120px;
            }
          }
          @include media-breakpoint-down(lg) {
            margin-right: 0;
          }
        }
      }
    }
    .date {
      margin-left: -20px;
      @include media-breakpoint-down(xl) {
        margin-left: -50px;
      }
      @include media-breakpoint-down(lg) {
        margin-left: 0px;
      }
      @include media-breakpoint-down(md) {
        position: absolute;
        right: 0;
      }
      .item {
        position: relative;
        display: flex;
        align-items: center;
        justify-items: center;
        background: var(--theme-color1);
        width: 188px;
        height: 188px;
        color: var(--theme-color-white);
        text-align: center;
        font-family: var(--text-font);
        font-size: 26px;
        text-transform: uppercase;
        border-radius: 50%;
        border: 18px solid var(--theme-color-white);
        @include media-breakpoint-down(md) {
          border: 10px solid var(--theme-color-white);
          font-size: 21px;
          height: 140px;
          width: 140px;
        }
        @include media-breakpoint-down(sm) {
          height: 120px;
          width: 120px;
        }
      }
    }
    .content {
      .title {
        color: var(--theme-color-black);
        font-family: var(--text-font);
        font-size: 35px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 8px;
        }
      }
      .subtitle {
        color: var(--theme-color1);
        font-family: var(--text-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 20px;
      }
      .text {
        color: var(--text-color);
        font-family: var(--text-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.4;
      }
    }
  }
  .shape-box {
    @media (max-width: 1699.98px) {
      display: none;
    }
    .shape-1 {
      position: absolute;
      left: 138px;
      top: 450px;
    }
    .shape-2 {
      position: absolute;
      left: 138px;
      bottom: 350px;
    }
    .shape-3 {
      position: absolute;
      right: 138px;
      top: 400px;
    }
    .shape-4 {
      position: absolute;
      right: 138px;
      bottom: 750px;
    }
  }
}
