.testimonial-section-three {
    padding-bottom: 120px;

    @include media-breakpoint-down(lg){
        padding-bottom: 80px;
    }

    .testimonial-wrapper {
        position: relative;

        .shape1 {
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
            @include media-breakpoint-down(md){
                display: none;
            }
        }

        .section-top-three {
            margin-bottom: 78px;

            @include for-xl {
                margin-bottom: 20px;
            }

            .title {
                margin-bottom: 75px;

                @include for-xl {
                    margin-bottom: 20px;
                }
            }

            .text {
                margin-bottom: 0;
                max-width: 733px;
                color: var(--text-color);
                font-size: 22px;
                font-weight: 400;
                line-height: 39px;
            }
        }

        .clint-info {
            display: flex;
            align-items: center;
            gap: 12px;

            .thumb{
                @include for-xs{
                    display: none;
                }
            }

            .clint-name {
                color: var(--theme-color-black);
                font-size: 35px;
                font-family: var(--text-font);
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 10px;
            }

            .clint-note {
                color: var(--theme-color1);
                font-family: var(--text-font);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                margin-bottom: 0;
            }
        }

        .main-thumb {
            img {
                border-radius: 8000px 8000px 0 0;
                background: #373737;
            }
        }
    }
}
