.testimonial-section {
  position: relative;
  .testimonial-card {
    .text {
    }

    .author-info {
      margin-top: 30px;

      .name {
        color: var(--theme-color-black);
        font-family: var(--text-font);
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        @include media-breakpoint-down(lg){
          font-size: 24px;
        }
      }

      .designation {
        color: var(--theme-color1);
        font-family: var(--text-font);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
      }
    }

    /* Thumbnail Pagination */
    .swiper-pagination-thumbs {
      margin-top: 30px;
      img {
        width: 85.904px;
        height: 85.904px;
        border-radius: 50%;
        cursor: pointer;
      }

      .swiper-slide {
        width: 85.904px !important;
        height: 85.904px;
        border-radius: 50%;
        transition: all 0.3s ease;

        &.swiper-slide-thumb-active {
          position: relative;

          img {
            position: relative;
          }

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 800px;
            background: rgba(199, 134, 101, 0.8);
            z-index: 5;
          }
        }
      }
    }
  }

  .testimonial-thumb {
    position: relative;

    .main-img {
      border-radius: 50%;
      border: 1px solid var(--text-color);
      padding: 15px;
    }

    .shape1 {
      position: absolute;
      top: -3.7rem;
      right: 0;
    }
  }

  .shape1 {
    position: absolute;
    bottom: -250px;
    right: 0;
    @include media-breakpoint-down(lg){
      display: none;
    }
  }
}
