.video-section-three{
    padding: 350px 0; 
    .video-content{ 
        position: relative;
        .video-icon{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;

            @include media-breakpoint-down(lg){
            }
        }
    }
}    
