.work-process-section {
  background: var(--theme-color-gray3);
  position: relative;
  .shape1 {
    position: absolute;
    top: 1%;
    left: 40%;
    z-index: 1;
    @include media-breakpoint-down(xl) {
      opacity: 0.2;
    }
  }
  .shape2 {
    position: absolute;
    right: 5%;
    top: 0;
    z-index: 1;
    @include media-breakpoint-down(xl) {
      opacity: 0.2;
    }
  }

  .work-process-content {
    position: relative;
    z-index: 5;
    .work-process-item {
      align-items: flex-start;
      border-bottom: 1px dashed var(--theme-color-gray4);
      display: flex;
      gap: 40px;
      padding-bottom: 25px;
      @media (max-width: 399.98px){
        flex-wrap: wrap;
      }
      &:last-child {
        border: none;
      }
      .icon {
        align-items: center;
        display: flex;
        flex: none;
        height: 91px;
        justify-content: center;
        width: 91px;
        img {
          width: 91px;
          height: 91px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .content {
        .title {
          font-family: var(--text-font);
          margin-bottom: 9px;
        }
        .text {
          color: var(--text-color);
          span{
            color: var(--text-color2);
          }
        }
      }
    }
  }
  .work-process-thumb {
    height: 926px;
    width: 100%;
    overflow: hidden;
    @include media-breakpoint-down(xl) {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-bottom: -80px;
    }
  }
}
